/* You can add global styles to this file, and also import other style files */
:root{
    --main-primary: #5d92f5;
}

@import "./variable";
.mat-elevation-z8{
    width:100%
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn{
    padding: 5px;
    margin: 4px;
}
